.headerArea {
    min-height: 2rem;
    max-height: 3.4rem;
    width: 100%;
    min-width: 50%;
    overflow: hidden;
    border-bottom: 0.05rem rgb(121, 121, 121) solid;
    display: flex;
    flex-direction: column;
    &:first-child{
        border-right: 1px solid rgb(95, 95, 95);
    }
}
