.header {
  background-color: #2e2e2e;
  color: #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  height: 2rem;
  border-bottom: #000 1px solid;
  
  &.light {
    background-color: #f0f0f0;
    color: #000;
    border-bottom: #353535 1px solid;
  }

  .menu{
    .logo{
      width: 1rem;
      height: 1rem;
      margin-top: 0.2rem;
      margin-right: 0.2rem;
    }
  }

  .menu{
    display: flex;
    gap: 1rem;
  }

  .commands{
    display: flex;
    gap:1.7rem;
    opacity: 0.5;
    cursor: pointer;
  }

  .menu span{
    cursor: pointer;
    font-size: 0.9rem;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
      color: #ddd;
    }
  }

  .title p {
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
  }
}
