.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  background-color: #237bcc;
  color: white;
  overflow: hidden;

  &.light {
    background-color: #f0f0f0;
    color: #000;
  }

  .menuLeft, .menuRight {
    display: flex;
    align-items: center;
    cursor: pointer;
    span{
      width: auto;
      height: 100%;
      font-size: 0.8rem;
    }
  }

  .menuLeft{
    span{
      &:first-child{
        background-color: #32815d;
        padding-inline: 0.8rem;
      }
    }
  }
}
