.button {
    display: inline-flex; /* flex 컨테이너로 설정 */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    background-color: transparent;
    border: none;
    color: inherit;
    white-space: nowrap;
    width: auto;
    gap:0.3rem;
    
    flex-grow: 0;
    flex-shrink: 0;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  
    .icon {
      width: 0.9rem;
      height: 0.9rem;
    }
  
    &:only-child {
      justify-content: center;
    }
  }
  